body{
    background-color: lightskyblue;
    font: normal 1.3em arial;
}
header{
    text-align: center;
    color: white;
}
section{
    background-color: white;
    width: 600px;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.322);
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}
select#tval{
    width: 150px;
}